.item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.item:hover {
  transition: transform 0.7s;
  scale: 1.1;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.status {
  width: 20px;
  height: 20px;
}

.true {
  fill: green;
}

.false {
  fill: red;
}

.avatar {
  width: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

.name {
  font-size: 24px;
  font-weight: 700;
}
